/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.gamefield {
  height: 70vh;
  border-bottom: 2px solid red;
}

.score-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(243, 219, 5);
  text-shadow: -1px 1px 2px rgb(228, 145, 38), 1px 1px 2px rgb(228, 145, 38),
    1px -1px 2px rgb(228, 145, 38), -1px -1px 2px rgb(228, 145, 38);
  font-size: 2rem;
}

.result {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  color: rgb(5, 201, 5);
  text-shadow: -1px 1px 2px rgb(0, 128, 0), 1px 1px 2px rgb(0, 128, 0),
    1px -1px 2px rgb(0, 128, 0), -1px -1px 2px rgb(0, 128, 0);
}

.shape-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.shape-image {
  width: 11rem;
}

.vs {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.7rem;
  color: rgb(243, 219, 5);
  text-shadow: -1px 1px 2px rgb(228, 145, 38), 1px 1px 2px rgb(228, 145, 38),
    1px -1px 2px rgb(228, 145, 38), -1px -1px 2px rgb(228, 145, 38);
}
